@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkalami&family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');

body {
  background-image: url("images//ghanianSunset.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.first,
.linkTag,
.foot {
  color: white;
}

.mybrand {
  font-size: xx-large;
}

p{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

h1{
  font-family: "Kaushan Script", cursive;
}

.ourTopics,
.subMitter,
#theWiper {
  font-family: 'Kanit', sans-serif;
}

.blockquote h6 {
  font-family: "Alkalami", serif;
  color: black;
}

.hechFive {
  color: white;
  border-radius: 8px;
}

.muteTexts{
  font-family: "Lora", serif;
}

#intro, h3{
  font-family: 'Cinzel', serif;
}
#intro {
  font-weight:900;
}