@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkalami&family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.first,
.foot {
  color: white;
}
.mybrand {
  font-size: xx-large;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
h1 {
  font-family: "Kaushan Script", cursive;
}

.navitems {
  color: white;
}

.blockquote h6 {
  font-family: "Alkalami", serif;
}

.somethig {
  font-family: "Lora", serif;
  font-family: "Alkalami", serif;
  font-family: "Maven Pro", sans-serif;
}
